ruby:
  add_class = local_assigns[:assign_class] ? local_assigns[:assign_class] : Settings.user.avatar.default_size_class
  assign_class = "rounded-circle #{add_class}"
  assign_id = local_assigns[:assign_id] || ''

= image_tag user.avatar_or_default, id: assign_id, class: assign_class
