@import "font-awesome";
@import 'bootstrap';

@mixin myfont-size-xl {
  font-size: 3.0rem;
}
@mixin myfont-size-ll {
  font-size: 2.5rem;
}
@mixin myfont-size-l {
  font-size: 2.0rem;
}
@mixin myfont-size-m {
  font-size: 1.5rem;
}
@mixin myfont-size-ms {
  font-size: 1.2rem;
}
@mixin myfont-size-s {
  font-size: 1.0rem;
}
@mixin myfont-size-ss {
  font-size: 0.85rem;
}
@mixin myfont-size-xs {
  font-size: 0.7rem;
}
@mixin under-bar {
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-color: #d4d4d4;
}
@mixin avatar {
  border-style: solid;
  border-width: 0.1rem;
  color: lightgray;
  background: #f1f1f1;
}

html {
  font-size: 16px;
}

.mybtn {
  width: 90%;
}
.mybtn-l {
  @extend .mybtn;
  @include myfont-size-m;
  line-height: 4.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.mybtn-l-2line {
  @extend .mybtn;
  @include myfont-size-m;
  line-height: 2.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.mybtn-m {
  @extend .mybtn;
  @include myfont-size-s;
  line-height: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.mybtn-m-2line {
  @extend .mybtn;
  @include myfont-size-s;
  line-height: 1.8rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.mybtn-s {
  @extend .mybtn;
  @include myfont-size-xs;
  line-height: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.myavatar-xl {
  @include avatar;
  width: 8rem;
  height: 8rem;
}
.myavatar-l {
  @include avatar;
  width: 6.5rem;
  height: 6.5rem;
}
.myavatar-m {
  @include avatar;
  width: 5rem;
  height: 5rem;
}

/*
 * レスポンシブフォントサイズ
 * ウィンドウ幅 576px から 1280px まで、
 * フォントサイズが 16px から 24px に流動的に変化する
 */
// @media (min-width: 860px) {
@media (min-width: 576px) {
  html {
    // see http://neos21.hatenablog.com/entry/2017/12/29/080000
    // 576 / 100 = 5.76
    // 100 * (24px - 16px)(px) / (1280px - 576px)(px) = 1.1363
    font-size: calc(16px + ((1vw - 5.76px) * 1.1363));
  }
}

/* 最大フォントサイズ : 幅 1280px 以上は 24px */
@media (min-width: 1280px) {
  html {
    font-size: 24px;
  }
}

body {
  .main {
    @include myfont-size-m;
    color: #333;
    font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
    margin-top: 3rem;//8vh;
    margin-bottom: 40px;

    min-height: 70vh;
  }
}

.vertical-center {
  margin-top: auto;
  margin-bottom: auto;
}

header {
  .common-header {
    position: relative;
    height: 3rem;
    box-shadow: 0 3px 8px #cccccc;
    font-weight: bold;
    background: #fffcfc;

    .logo {
      height: 3rem;
    }
  }
}

footer {
  .common-footer {
    @include myfont-size-xs;
    position: relative;
    padding: 0.5rem;
    z-index: 100;
    box-shadow: 0 -3px 8px #cccccc;
    text-align: right;
    background: #fffcfc;
  }

  .common-footer-margin {
    margin-bottom: 0vh;
  }
}

.flash_message {
  @include myfont-size-s;
}

.before-login {
  padding-top: 1rem;
  background: rgba(255, 252, 252, 1);

  .headline {
    border-bottom-style: solid;
    border-bottom-width: thin;
    margin-bottom: 20px;
  }
  .icon {
    @extend .vertical-center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .container {
    margin-top: 1rem;
  }
  .myform {
    margin-bottom: 2rem;
  }
  .btn-login {
    margin: 1rem 1rem;
  }
  .info {
    @include myfont-size-s;
  }
  .for-register {
    @include myfont-size-s;
    text-align: right;
  }
  .twitter-button {
    margin: 1rem 0;
  }

  #term {
    h1 { @include myfont-size-l; }
    h2 { @include myfont-size-m; }
    p { @include myfont-size-s; }
  }

  .about {
    margin-bottom: -40px;

    .img-sub {
      height: 8rem;
      margin: 2rem;
      border-radius: 0.5rem;
    }
    .img-bg {
      width: 100%;
    }
    .img-between {
      margin: 1rem 0;
    }

    .page-1 {
      width: 100vw;
      min-height: 60vh;
      padding: 10vh 0;

      .img-logo {
        width: 30%;
        max-width: 300px;
      }
      .info {
        margin: 3vw 0 3vw;
      }
      .info-s {
        font-size: 0.8rem;
      }
      .info-l {
        @include myfont-size-ms;
      }
      .btn-login {
        @include myfont-size-s;
        min-width: 10rem;
        background: #f5f7ff;
      }
      .btn-help {
        @include myfont-size-s;
        min-width: 10rem;
        background: #faffe0;
      }
    }
    .page-1-between-2 {
    }
    .page-2 {
      .info {
        @include myfont-size-m;
        position: relative;
        margin: 5rem;
        color: white;
      }
      .img-ss {
        height: 80%;
        margin: 2rem;
      }
    }
    .page-3.img-between {
      margin: 1rem 0 0;
    }
  }

  .help {
    @include myfont-size-s;

    .card {
      margin: 0 0 1rem;

      p {
        border-bottom: thin solid #c1c1c1;
      }
      p:last-child {
        margin-bottom: 0;
      }
    }
    .img-element {
      text-align: center;
      margin: 0 0 1rem;
    }
    .img-element:last-child {
      margin: 0 0 0;
    }
    .img-help {
      max-width: 60%;
      border-style: solid;
      border-width: thin;
      border-color: #cccccc;
    }
  }

  .information {
    @include myfont-size-s;
    
  }
}
