@import "font-awesome";
@import 'bootstrap';
// @import 'rooms';

body {
  .main {
    //background-color: white;
    color: #333;
    font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
    font-size: 2.5rem;
    margin-top: 100px;
    margin-bottom: 40px;
  }
}

.vertical-center {
  margin-top: auto;
  margin-bottom: auto;
}

@mixin myfont-size-default {
  font-size: 2.5rem;
}
@mixin myfont-size-small {
  font-size: 2.0rem;
}
@mixin myfont-size-minimum {
  font-size: 1.5rem;
}

header {
  .common-header {
    position: relative;
    height: 8vh;
    box-shadow: 0 3px 6px gray;
    font-weight: bold;
    background: white;

    .logo {
      width: 30%;
      height: 30%;
    }
  }
}

footer {
  .common-footer {
    position: relative;
    height: 8vh;
    padding-top: 2vh;
    z-index: 100;
    font-size: 1rem;
    background: white;
    box-shadow: 0 3px 6px gray;
    text-align: right;

    .copyright {
      font-size: 1rem;
    }
  }

  .common-footer-margin {
    margin-bottom: 15vh;
  }
}

.flash_message {
  font-size: 2.0rem;
}

.title {
  font-size: 5.5rem;
}
