@import "font-awesome";
@import 'bootstrap';
@import 'rooms';

body {
  .main {
    //background-color: white;
    color: #333;
    font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
    font-size: 2.5rem;
    margin-top: 5%;
    margin-bottom: 5%;
  }
}

header {
  .common-header {
    position: relative;
    box-shadow: 0 3px 6px gray;
    font-weight: bold;
    background: white;

    .logo {
      width: 30%;
      height: 30%;
    }
  }
}

footer {
  .common-footer {
    position: relative;
    z-index: 100;
    font-size: 12px;
    background: white;
    padding : 2%;
    box-shadow: 0 3px 6px gray;

    .copyright {
      font-size: 9px;
    }
  }
}

.title {
  font-size: 5.5rem;
}

.text-area-custom {
  font-size: 2.5rem;
}

.button-custom {
  font-size: 2.0rem;
}

.reset-input-button {
  height: 15vh;
}
