@import 'application';

.mypage {
  margin-top: 8+2vh;
  min-height: 80vh;

  p {
    line-height: 1.2rem;
  }

  .my-checkbox {
    input[type=checkbox] {
      -ms-transform: scale(2, 2);
      -webkit-transform: scale(2, 2);
      transform: scale(2, 2);
    }
  }

  .sidebar {
    position: fixed;
    top: 8vh;
    bottom: 0;
    left: 0;
    z-index: 200; /* Behind the navbar */
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);

    min-width: 16.6666666667%;
    text-align: center;

    .mybtn-sidebar-settings {
      margin-top: 5rem;
    }
    .mybtn-sidebar-settings-only_chat {
      margin-top: 15rem;
    }

    .sidebar-sticky {
      // font-size: 6rem;
      @include myfont-size-xl;
      position: -webkit-sticky;
      position: sticky;
      top: 48px; /* Height of navbar */
      height: calc(100vh - 48px);
      padding-top: .5rem;
      overflow-x: hidden;
      overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */

      background-color: #2b2926;
    }
  }

  .xs-sm-sidebar {
    // font-size: 4.5rem;
    @include myfont-size-l;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 200;
    min-height: 10vh;
    max-height: 10vh;

    background-color: #2b2926;
    width: 100%;

    .btn-icon {
      @include myfont-size-ll;
    }
    .nav-link {
      padding: 0rem 1rem;
    }
  }

  .headline {
    border-bottom-style: solid;
    border-bottom-width: thin;
    margin-bottom: 20px;
  }
  .icon {
    @extend .vertical-center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .myavatar-xl {
    @include avatar;
    width: 8rem;
    height: 8rem;
  }
  .myavatar-l {
    @include avatar;
    width: 6.5rem;
    height: 6.5rem;
  }
  .myavatar-m {
    @include avatar;
    width: 5rem;
    height: 5rem;
  }
  .mycard-default {
    max-height: 20vh;
  }
  .text-introduction {
    @include myfont-size-s;
    max-height: 15vh;
    overflow: auto;
  }
  .friend-count-text {
    @include myfont-size-s;
    margin-left: 20px;
    padding-top: 20px;
  }

  .dashboard {
    .chat-buttons {
      margin: 0 0 1.5rem;
    }
    .chat-button {
      @extend .mybtn-l-2line;
      margin-bottom: 2rem;
    }
    .myprofile {
      margin-bottom: 70px;
    }
    .profile-text {
      @include myfont-size-s;
    }
    .profile-introduction-card {
      @include myfont-size-s;
      @extend .mycard-default;
      margin-top: 1rem;
      overflow: auto;

      .card-body {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
      }
    }
  }

  .myprofile {
    @include myfont-size-m;

    .name {
      margin-top: 1rem;
    }
    .user-id {
      @include myfont-size-s;
      @include under-bar;
      margin-bottom: 1rem;
    }

    .mylabel-avatar {
      margin-top: 1rem;
    }
    .filelabel:hover {
      opacity: 0.5;
      cursor: pointer;
    }
    // デフォルトのファイル選択ボタンを非表示にする
    #user_avatar {
      display: none;
    }
    .profile-introduction-card {
      margin-top: 1rem;
      max-height: 15rem;
      margin-bottom: 1rem;
    }
    .form-introduction {
      @include myfont-size-s;
      padding: 10px;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 1px solid rgba(0, 0, 0, 0.125);
      border-radius: 0.25rem;
    }
  }

  .friend {
    .friend-button {
      margin-bottom: 2rem;
    }
    .break-friendship-button {
      @include myfont-size-xs;
      margin: 0.5rem 0 0.5rem 0.5rem;
      text-align: right;
    }
  }

  .friend-card {
    margin-top: 1rem;
    margin-bottom: 1rem;
    min-height: 7rem;

    .friend-card-body {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;

      .friend-text {
        @include myfont-size-s;

        .name {
          @include under-bar;
          margin-bottom: 20px;
        }
        .introduction {
          @include myfont-size-s;
          @include under-bar;
          // line-height含めた3行分の高さ
          max-height: 1.2*3rem;
          overflow: hidden;
        }
        .introduction-overflow {
          @include myfont-size-s;
          @include under-bar;
          // line-height含めた3行分の高さ
          max-height: 1.2*3rem;
          overflow: auto;
        }
      }
    }
  }

  // トモダチ申請
  .friend_request {
    margin-bottom: 20px;

    .friend_request-text {
      @include myfont-size-s;
    }

    .form-friend_requests {
      margin-top: 60px;
    }
    .form-input {
      margin-top: 20px;
    }
    .form-input-info {
      @include myfont-size-s;
    }
    .friend_request_list {
      margin-top: 1rem;
    }
  }

  .setting {
    .restrict_setting_editing {
      .mycheckbox-restrict_setting_editing {
        @extend .my-checkbox;
        margin: 10px;
      }
      .card {
        margin-top: 5vh;
        border-color: red;
      }
      .info {
        @include myfont-size-xs;
        margin-left: 20px;
      }
    }
    .form-message_button_value {
      @include myfont-size-s;
      width: 100%;
    }
    .btn-logout {
      margin-top: 3rem;
    }

    .use_type_setting {
      .form-section {
        margin-top: 1rem;

        .selection-area {
          margin-bottom: 2rem;
        }
        .form-radio_buttons {
          margin-bottom: 1rem;
        }
        .form-radio_button {
          margin-bottom: 1rem;
        }
        .use_type_label {
          margin: 0 0 0 0.5rem;
        }
        .info {
          @include myfont-size-ss;
          margin-left: 1rem;
        }
        .form-check_box {
          line-height: 1.2;
        }
        .optional_label {
          @include myfont-size-s;
        }
      }
    }
  }
}
