@import 'application';

.mypage {
  margin-top: 8+2vh;
  min-height: 80vh;

  .mybtn-l {
    width: 420px;
    height: 120px;
    font-size: 2.5rem;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 2.5;
  }
  .mybtn-l-2line {
    width: 420px;
    height: 120px;
    font-size: 2.0rem;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 1.7;
  }
  .mybtn-m {
    @include myfont-size-xs;
    width: 250px;
    height: 70px;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 2;
  }
  .mybtn-s {
    @include myfont-size-xs;
    width: 200px;
    height: 60px;
    line-height: 2;
  }

  .my-checkbox {
    input[type=checkbox] {
      -ms-transform: scale(2, 2);
      -webkit-transform: scale(2, 2);
      transform: scale(2, 2);
    }
  }

  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 200; /* Behind the navbar */
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);

    min-width: 16.6666666667%;
    text-align: center;

    .mybtn-sidebar-settings {
      margin-top: 100px;
    }

    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
      top: 48px; /* Height of navbar */
      height: calc(100vh - 48px);
      padding-top: .5rem;
      overflow-x: hidden;
      overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */

      background-color: #2b2926;
      font-size: 6rem;
    }
  }

  .xs-sm-sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 200;
    max-height: 15vh;

    background-color: #2b2926;
    font-size: 5rem;
    width: 100%;
  }

  .headline {
    border-bottom-style: solid;
    border-bottom-width: thin;
    margin-bottom: 20px;
  }
  .icon {
    @extend .vertical-center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .avatar {
    border-style: solid;
    border-width: 0.1rem;
    color: lightgray;
    background: #f1f1f1;
  }
  .mycard-default {
    max-height: 20vh;
  }
  .text-introduction {
    max-height: 15vh;
    overflow: auto;
  }
  .friend-count-text {
    @include myfont-size-s;
    margin-left: 20px;
    padding-top: 20px;
  }

  .dashboard {
    .chat-buttons {
      margin-bottom: 40px;
    }
    .myprofile {
      margin-bottom: 70px;
    }
    .profile-text {
      @include myfont-size-s;
    }
    .profile-introduction-card {
      @include myfont-size-xs;
      @extend .mycard-default;
      margin-top: 20px;
      overflow: auto;
    }
  }

  .users {
    .mylabel-avatar {
      margin-top: 20px;
    }
    .filelabel:hover {
      opacity: 0.5;
      cursor: pointer;
    }
    #user_avatar {
      display: none;
    }
    .profile-introduction-card {
      @include myfont-size-xs;
      margin-top: 20px;
      max-height: 25vh;
    }
    .form-introduction {
      padding: 10px;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 1px solid rgba(0, 0, 0, 0.125);
      border-radius: 0.25rem;
    }
  }

  .friend {
    .break-friendship-button {
      margin-top: 5vh;
    }
    .mybtn-break-friendship {
      @include myfont-size-m;
    }
  }

  .friend-card {
    @extend .mycard-default;
    margin-top: 10px;
    margin-bottom: 10px;

    .friend-card-body {
    }

    .friend-text {
      @include myfont-size-s;
    }
  }

  // トモダチ申請
  .friend_request {
    margin-bottom: 20px;

    .friend_request-text {
      @include myfont-size-s;
    }

    .form-friend_requests {
      margin-top: 60px;
    }
    .form-input {
      margin-top: 20px;
    }
    .form-input-info {
      @include myfont-size-s;
    }
  }

  .setting {
    .restrict_setting_editing {
      .mycheckbox-restrict_setting_editing {
        @extend .my-checkbox;
        margin: 10px;
      }
      .card {
        margin-top: 5vh;
        border-color: red;
      }
      .info {
        @include myfont-size-xs;
        margin-left: 20px;
      }
    }
    .form-message_button_value {
      @include myfont-size-s;
      width: 100%;
    }
  }
}
