@import 'application';

header {
  .icon {
    @include myfont-size-l;
  }
  .btn-reload {
    margin-left: 2rem;
  }
}

::placeholder{
  color: #ffffffbd;
}

.room {
  // １メッセージの高さ
  --message-min-height: 5rem;
  // メッセージセクションのタイトルまでのオフセット
  --message-section-title-offset-top: 8vh;
  // メッセージセクションのタイトルの高さ
  --message-section-title-height: 4vh;
  // メッセージセクションまでのオフセット
  --message-section-offset-top: 12vh;
  // メッセージセクションの高さ
  --message-section-height: 35vh;
  // ページネーションの高さ
  --message-section-pagenate-height: 6vh;
  // ページネーションまでのオフセット
  --message-section-pagenate-offset: 47vh;
  // 入力エリアまでのオフセット
  --input-area-offset-top: 54vh;
  // 入力エリアの高さ（ヘッダー、メッセージセクションを除いた高さ）
  --input-area-height: 46vh;

  --message-title-bg-color: #dcedfb;
  --message-bg-color: #ebf6ff;

  .myavatar-m {
    @include avatar;
    width: 4rem;
    height: 4rem;
  }
  .btn-custom {
    @include myfont-size-s;
    line-height: 2rem;
    margin: 0 0.5rem 1rem 0;
  }

  .text-message-section {
    margin: 1rem 0 1rem;

    .title {
      @include myfont-size-ms;
    }
    .text-area-custom {
      @include myfont-size-s;
    }
    .reset-input-button {
      height: 5rem;
    }
  }

  .button-message-section {
    margin: 1rem 0 1rem;

    .title {
      @include myfont-size-ms;
    }
    .ask-buttons {
      margin-bottom: 1rem;
    }
    .card {
      padding: 1rem 0 0;
    }
  }

  .delete-message-section {
    margin-bottom: 1rem;
  }

  .input-area {
    position: fixed;
    top: var(--input-area-offset-top);
    left: 0;
    right: 0;
    z-index: 10;
    height: var(--input-area-height);
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }

  .message-section-title {
    position: fixed;
    // border-style: solid;
    // border-width: thin;
    // border-color: #ced4da;//rgba(45,45,45, 0.5);
    top: var(--message-section-title-offset-top);
    // bottom: 0;
    left: 0;
    right: 0;
    // z-index: 10;
    height: var(--message-section-title-height);
    // height: var(--message-section-frame-min-height);

    @include under-bar;
    @include myfont-size-s;
    background: var(--message-title-bg-color);
    color: black;
    border-bottom: solid;
    border-color: white;
    border-width: thin;
  }

  .message-section {
    position: fixed;
    top: var(--message-section-offset-top);
    // bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    height: var(--message-section-height);
    // height: var(--message-section-min-height);
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    // margin: 0 0.5rem 0.5rem 0.5rem;

    background: var(--message-bg-color);
    padding: 0.2rem;
    margin: 0;

    .card {
      border: none;
    }
    .message {
      @include under-bar;
      min-height: var(--message-min-height);
      line-height: 1.4;
      background-color: white;

      .avatar {
        line-height: 5rem;
      }
      p {
        margin-bottom: 0;
        word-break: break-all;
      }
      .name {
        @include myfont-size-s;
      }
      .content {
        @include myfont-size-ms;
      }
      .created_at {
        @include myfont-size-xs;
      }
    }
  }

  .pagenate-area {
    position: fixed;
    top: var(--message-section-pagenate-offset);
    left: 0;
    right: 0;
    z-index: 10;
    height: var(--message-section-pagenate-height);

    border-top: solid;
    border-color: var(--message-bg-color);
    border-width: 0.2rem;

    .pagenate {
      @include myfont-size-xs;
      margin-top: 0.5rem;

      .pagination {
        justify-content: center;
      }
    }
  }

  .modal-area {
    .edit-message-button-list-section {
      margin: 1rem 1rem 0 2rem;

      .mymodal-title {
        @include myfont-size-m;
      }
      .form-message_button_value {
        @include myfont-size-s;
        width: 100%;
      }
      .btn-ask {
        background: #28a745;
        color: white;
      }
      .btn-answer {
        background: #17a2b8;
        color: white;
      }
    }
  }

  #js-disconnect-room {
    display: none;

    .disconnect-room-section {
      margin-top: 3rem;

      .button-back {
        @extend .mybtn-m;
        width: 10rem;
      }
    }
  }
}
