@import 'application';

.room {
  min-height: 80vh;

  @mixin myfont-size-ml {
    font-size: 1.2rem;
  }

  .myavatar-m {
    @include avatar;
    width: 5rem;
    height: 5rem;
  }
  .btn-custom {
    @include myfont-size-s;
    line-height: 2rem;
    margin: 0 0.5rem 1rem 0;
  }

  .text-message-section {
    margin: 1rem 0 1rem;

    .title {
      @include myfont-size-ml;
    }
    .text-area-custom {
      @include myfont-size-s;
    }
    .reset-input-button {
      height: 5rem;
    }
  }

  .button-message-section {
    margin: 1rem 0 1rem;

    .title {
      @include myfont-size-ml;
    }
    .ask-buttons {
      margin-bottom: 1rem;
    }
    .card {
      padding: 1rem 0 0;
    }
  }

  .delete-message-section {
    margin-bottom: 1rem;
  }

  .message-section {
    .card {
      padding: 1rem 0.5rem 1rem;
    }

    .message {
      @include under-bar;
      min-height: 6rem;
      margin-bottom: 0.5rem;
      line-height: 1.4;

      p {
        margin-bottom: 0;
        word-break: break-all;
      }
      .name {
        @include myfont-size-s;
      }
      .content {
        @include myfont-size-ml;
      }
      .created_at {
        @include myfont-size-xs;
      }
    }
  }

  .edit-message-button-list-section{
    margin: 1rem 0 1rem;

    .mymodal-title {
      @include myfont-size-m;
    }
    .btn-edit-message_button_list {
      @include myfont-size-s;
      margin: 3rem 0 0;
      line-height: 3rem;
    }
    .form-message_button_value {
      @include myfont-size-s;
      width: 100%;
    }
  }

  #js-disconnect-room {
    display: none;

    .disconnect-room-section {
      margin-top: 3rem;

      .button-back {
        @extend .mybtn-m;
        width: 10rem;
      }
    }
  }
}
