@import 'application';

header {
  .icon {
    @include myfont-size-l;
  }
  .btn-reload {
    margin-left: 1rem;
  }
  .navbar {
    padding: 0 0.5rem;
  }
}

::placeholder{
  color: #ffffffbd;
}

.room {
  // １メッセージの高さ
  --message-min-height: 5rem;
  // メッセージセクションのタイトルの高さ
  --message-section-title-height: 1.5rem;//4vh;
  // メッセージセクションの高さ
  --message-section-height: 13rem;//35vh;
  // ページネーションの高さ
  --message-section-pagenate-height: 2rem;//6vh;
  // 入力エリアの高さ（ヘッダー、メッセージセクションを除いた高さ）
  // --input-area-height: 17rem;//46vh;
  // 背景色
  --message-title-bg-color: #dcedfb;
  --message-bg-color: aliceblue;

  overflow-x: hidden;

  .myavatar-m {
    @include avatar;
    width: 4rem;
    height: 4rem;
  }
  .btn-custom {
    @include myfont-size-s;
    line-height: 2rem;
    margin: 0.5rem 0.5rem 0.5rem 0;
  }

  #text-message-section {
    margin: 1rem 0 1rem;

    .title {
      @include myfont-size-ms;
      display: flex;
      justify-content: center;
    }
    .text-area-custom {
      @include myfont-size-s;
    }
    .reset-input-button {
      height: 5rem;
    }
  }

  #button-message-section {
    margin: 0.5rem 0 1rem;

    .title {
      @include myfont-size-ms;
      display: flex;
      justify-content: center;
    }
    .ask-buttons {
      margin-bottom: 0.5rem;
    }
    .card {
      padding: 0;
    }
  }

  #delete-message-section {
    margin-bottom: 1rem;
  }

  #input-area {
    // height: var(--input-area-height);
    overflow-x: hidden;
    overflow-y: auto;
  }

  #output-area {
  }

  #message-section-title {
    height: var(--message-section-title-height);

    @include under-bar;
    @include myfont-size-s;
    background: var(--message-title-bg-color);
    color: black;
    border-bottom: solid;
    border-color: white;
    border-width: thin;
  }

  #message-section {
    height: var(--message-section-height);
    overflow-x: hidden;
    overflow-y: auto;

    background: var(--message-bg-color);
    padding: 0.2rem;
    margin: 0;

    .card {
      border: none;
    }
    .message {
      @include under-bar;
      min-height: var(--message-min-height);
      line-height: 1.4;
      background-color: white;

      .avatar {
        line-height: 5rem;
      }
      p {
        margin-bottom: 0;
        word-break: break-all;
      }
      .name {
        @include myfont-size-s;
      }
      .content {
        @include myfont-size-ms;
      }
      .created_at {
        @include myfont-size-xs;
      }
    }
  }

  #pagenate-area {
    height: var(--message-section-pagenate-height);
    background: var(--message-bg-color);
    height: 3.2rem;

    border-top: solid;
    border-color: var(--message-bg-color);
    border-width: 0.2rem;

    .pagenate {
      @include myfont-size-xs;
      margin-top: 0.5rem;

      .pagination {
        justify-content: center;
      }
    }
  }

  #modal-area {
    .edit-message-button-list-section {
      .mymodal-title {
        @include myfont-size-m;
      }
      .form-message_button_value {
        @include myfont-size-s;
        width: 100%;
      }
      .btn-ask {
        background: #28a745;
        color: white;
      }
      .btn-answer {
        background: #17a2b8;
        color: white;
      }
    }
  }

  #js-disconnect-room {
    display: none;

    #disconnect-room-section {
      margin-top: 3rem;

      .button-back {
        @extend .mybtn-m;
        min-width: 100px;
      }
    }
  }

  #js-alert-orientation {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #000000e6;
    color: white;
    z-index: 1000;

    display: none;

    .image {
      margin-top: 20%;
    }
  }
}
